In [2]:
#Importamos un archivo de detos de los paises del mundo, actualizados hasta 2023

import pandas as pd
df = pd.read_csv("C:\\Users\\USER\\Desktop\\PARTE2\\world-data-2023.csv", sep=",")

In [48]:
#Imprimimos ldf.head()as primeras 5 filas del df
df.head()

,Country,Density\n(P/Km2),Abbreviation,Agricultural Land( %),Armed Forces size,Birth Rate,Calling Code,Capital/Major City,Co2-Emissions,CPI,...,Official language,Out of pocket health expenditure,Physicians per thousand,Population: Labor force participation (%),Tax revenue (%),Total tax rate,Unemployment rate,Urban_population,Latitude,Longitude
0,Afghanistan,60,AF,58.10%,"323,000",32.49,93.0,Kabul,NaN,149.9,...,Pashto,78.40%,0.28,48.90%,9.30%,71.40%,11.12%,"9,797,273",33.939110,67.709953
1,Albania,105,AL,43.10%,"9,000",11.78,355.0,Tirana,NaN,119.05,...,Albanian,56.90%,1.20,55.70%,18.60%,36.60%,12.33%,"1,747,593",41.153332,20.168331
2,Algeria,18,DZ,17.40%,"317,000",24.28,213.0,Algiers,NaN,151.36,...,Arabic,28.10%,1.72,41.20%,37.20%,66.10%,11.70%,"31,510,100",28.033886,1.659626
3,Andorra,164,AD,40.00%,NaN,7.20,376.0,Andorra la Vella,469.0,NaN,...,Catalan,36.40%,3.33,NaN,NaN,NaN,NaN,"67,873",42.506285,1.521801
4,Angola,26,AO,47.50%,"117,000",40.73,244.0,Luanda,NaN,261.73,...,Portuguese,33.40%,0.21,77.50%,9.20%,49.10%,6.89%,"21,061,025",-11.202692,17.873887

In [49]:
#Ultimos 5 registros
df.tail()

,Country,Density\n(P/Km2),Abbreviation,Agricultural Land( %),Armed Forces size,Birth Rate,Calling Code,Capital/Major City,Co2-Emissions,CPI,...,Official language,Out of pocket health expenditure,Physicians per thousand,Population: Labor force participation (%),Tax revenue (%),Total tax rate,Unemployment rate,Urban_population,Latitude,Longitude
190,Venezuela,32,VE,24.50%,"343,000",17.88,58.0,Caracas,NaN,"2,740.27",...,Spanish,45.80%,1.92,59.70%,NaN,73.30%,8.80%,"25,162,368",6.423750,-66.589730
191,Vietnam,314,VN,39.30%,"522,000",16.75,84.0,Hanoi,NaN,163.52,...,Vietnamese,43.50%,0.82,77.40%,19.10%,37.60%,2.01%,"35,332,140",14.058324,108.277199
192,Yemen,56,YE,44.60%,"40,000",30.45,967.0,Sanaa,NaN,157.58,...,Arabic,81.00%,0.31,38.00%,NaN,26.60%,12.91%,"10,869,523",15.552727,48.516388
193,Zambia,25,ZM,32.10%,"16,000",36.19,260.0,Lusaka,NaN,212.31,...,English,27.50%,1.19,74.60%,16.20%,15.60%,11.43%,"7,871,713",-13.133897,27.849332
194,Zimbabwe,38,ZW,41.90%,"51,000",30.68,263.0,Harare,NaN,105.51,...,Shona,25.80%,0.21,83.10%,20.70%,31.60%,4.95%,"4,717,305",-19.015438,29.154857

In [46]:
#Listar los nombres de las columnas del dataset
print(df.columns)

Index(['Country', 'Density\n(P/Km2)', 'Abbreviation', 'Agricultural Land( %)',
       'Armed Forces size', 'Birth Rate', 'Calling Code', 'Capital/Major City',
       'Co2-Emissions', 'CPI', 'CPI Change (%)', 'Currency-Code',
       'Fertility Rate', 'Forested Area (%)', 'Gasoline Price', 'GDP',
       'Gross primary education enrollment (%)',
       'Gross tertiary education enrollment (%)', 'Infant mortality',
       'Largest city', 'Life expectancy', 'Maternal mortality ratio',
       'Minimum wage', 'Official language', 'Out of pocket health expenditure',
       'Physicians per thousand', 'Population: Labor force participation (%)',
       'Tax revenue (%)', 'Total tax rate', 'Unemployment rate',
       'Urban_population', 'Latitude', 'Longitude'],
      dtype='object')

In [54]:
#Verificamos la estructura del dataset
type(df)

pandas.core.frame.DataFrame

In [13]:
#Dimensiones del Dataset
print(df.shape)

(195, 35)

In [50]:
#EJEMPLO: paises con mas emisiones de Co2
df['Co2-Emissions'] = pd.to_numeric(df['Co2-Emissions'], errors='coerce')
df.nlargest(10, 'Co2-Emissions')

,Country,Density\n(P/Km2),Abbreviation,Agricultural Land( %),Armed Forces size,Birth Rate,Calling Code,Capital/Major City,Co2-Emissions,CPI,...,Official language,Out of pocket health expenditure,Physicians per thousand,Population: Labor force participation (%),Tax revenue (%),Total tax rate,Unemployment rate,Urban_population,Latitude,Longitude
54,Eritrea,35,ER,75.20%,"202,000",30.30,291.0,Asmara,711.0,NaN,...,Tigrinya,52.40%,0.06,78.40%,NaN,83.70%,5.14%,"1,149,670",15.179384,39.782334
160,Somalia,25,SO,70.30%,"20,000",41.75,252.0,Mogadishu,645.0,NaN,...,Arabic,NaN,0.02,47.40%,0.00%,NaN,11.35%,"7,034,861",5.152149,46.199616
47,Djibouti,43,DJ,73.40%,"13,000",21.47,253.0,Djibouti City,620.0,120.25,...,French,20.40%,0.22,60.20%,NaN,37.90%,10.30%,"758,549",11.825138,42.590275
154,Seychelles,214,SC,3.40%,0,17.10,248.0,"Victoria, Seychelles",605.0,129.96,...,French,2.50%,0.95,NaN,34.10%,30.10%,NaN,"55,762",-4.679574,55.491977
17,Belize,17,BZ,7.00%,"2,000",20.79,501.0,Belmopan,568.0,105.68,...,English,22.70%,1.12,65.10%,26.30%,31.10%,6.41%,"179,039",17.189877,-88.497650
5,Antigua and Barbuda,223,AG,20.50%,0,15.33,1.0,"St. John's, Saint John",557.0,113.81,...,English,24.30%,2.76,NaN,16.50%,43.00%,NaN,"23,800",17.060816,-61.796428
29,Cape Verde,138,CV,19.60%,"1,000",19.49,238.0,Praia,543.0,110.5,...,Portuguese,23.20%,0.77,60.50%,20.10%,37.50%,12.25%,"364,029",16.538800,-23.041800
62,The Gambia,239,GM,59.80%,"1,000",38.54,220.0,Banjul,532.0,172.73,...,English,20.30%,0.10,59.40%,9.40%,48.40%,9.06%,"1,453,958",13.443182,-15.310139
27,Burundi,463,BI,79.20%,"31,000",39.01,257.0,Bujumbura,495.0,182.11,...,Kirundi,19.10%,0.10,79.20%,13.60%,41.20%,1.43%,"1,541,177",-3.373056,29.918886
174,East Timor,89,TL,25.60%,"2,000",29.42,670.0,Dili,495.0,145.38,...,Portuguese,10.20%,0.72,67.30%,25.00%,17.30%,4.55%,"400,182",-8.874217,125.727539

In [44]:
#borramos 2 columnas
columns_to_drop = ['Population',"Land Area(Km2)"]
df.drop(columns_to_drop, axis = "columns", inplace = True)

KeyError: "['Population', 'Land Area(Km2)'] not found in axis"

In [55]:
#Nuevas dimensiones del Dataset 
print(df.shape)

(195, 33)

In [51]:
#Info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 195 entries, 0 to 194
Data columns (total 33 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Country                                    195 non-null    object
 1   Density
(P/Km2)                            195 non-null    object
 2   Abbreviation                               188 non-null    object
 3   Agricultural Land( %)                      188 non-null    object
 4   Armed Forces size                          171 non-null    object
 5   Birth Rate                                 189 non-null    float64
 6   Calling Code                               194 non-null    float64
 7   Capital/Major City                         192 non-null    object
 8   Co2-Emissions                              30 non-null     float64
 9   CPI                                        178 non-null    object
 10  CPI Change (%)                             179 non-null    object
 11  Currency-Code                              180 non-null    object
 12  Fertility Rate                             188 non-null    float64
 13  Forested Area (%)                          188 non-null    object
 14  Gasoline Price                             175 non-null    object
 15  GDP                                        193 non-null    object
 16  Gross primary education enrollment (%)     188 non-null    object
 17  Gross tertiary education enrollment (%)    183 non-null    object
 18  Infant mortality                           189 non-null    float64
 19  Largest city                               189 non-null    object
 20  Life expectancy                            187 non-null    float64
 21  Maternal mortality ratio                   181 non-null    float64
 22  Minimum wage                               150 non-null    object
 23  Official language                          194 non-null    object
 24  Out of pocket health expenditure           188 non-null    object
 25  Physicians per thousand                    188 non-null    float64
 26  Population: Labor force participation (%)  176 non-null    object
 27  Tax revenue (%)                            169 non-null    object
 28  Total tax rate                             183 non-null    object
 29  Unemployment rate                          176 non-null    object
 30  Urban_population                           190 non-null    object
 31  Latitude                                   194 non-null    float64
 32  Longitude                                  194 non-null    float64
dtypes: float64(10), object(23)
memory usage: 50.4+ KB

In [53]:
df.describe()

,Birth Rate,Calling Code,Co2-Emissions,Fertility Rate,Infant mortality,Life expectancy,Maternal mortality ratio,Physicians per thousand,Latitude,Longitude
count,189.000000,194.000000,30.000000,188.000000,189.000000,187.000000,181.000000,188.000000,194.000000,194.000000
mean,20.214974,360.546392,326.700000,2.698138,21.332804,72.279679,160.392265,1.839840,19.092351,20.232434
std,9.945774,323.236419,205.621874,1.282267,19.548058,7.483661,233.502024,1.684261,23.961779,66.716110
min,5.900000,1.000000,11.000000,0.980000,1.400000,52.800000,2.000000,0.010000,-40.900557,-175.198242
25%,11.300000,82.500000,152.500000,1.705000,6.000000,67.000000,13.000000,0.332500,4.544175,-7.941496
50%,17.950000,255.500000,257.000000,2.245000,14.000000,73.200000,53.000000,1.460000,17.273849,20.972652
75%,28.750000,506.750000,522.750000,3.597500,32.700000,77.500000,186.000000,2.935000,40.124603,48.281523
max,46.080000,1876.000000,711.000000,6.910000,84.500000,85.400000,1150.000000,8.420000,64.963051,178.065032